html, body, .row, .column {
	height: 100%;
}

.column {
	width: 50%;
	float: left;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	display: inline-block;
	padding:10%;
}


